header {
  border-bottom: 1px solid rgb(20 24 36 / 39%);
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  padding-bottom: 1rem;
  padding-top: 2rem !important;
  min-width: 100%;
  margin-top: 0rem;
  background-color: white;
}
.header-content {
  display: flex;
  min-width: 80%;
  justify-content: unset;
}
svg#person {
  width: 40px;
}
.profile {
  min-width: 150px;
  display: flex;
  align-items: center;
}
.profile svg {
  align-items: center;
}
header nav.nav-menu {
  margin-bottom: 0rem;
  align-items: normal;
}
.logo {
  align-self: center;
}
.profile-options {
  list-style: none;
  position: absolute;
  top: 73px;
  background-color: rgb(20, 24, 36);
  color: white;
}
.profile-options > ul {
  cursor: pointer;
}
.profile ul {
  list-style-type: none;
  padding: 0rem 2.2rem;
}
nav ul {
  margin: 0rem;
}