html {
  min-height: 100%;
}
footer {
  margin: 0rem;
  min-width: 100%;
}
body {
  min-height: 100%;
  font-family: 'Raleway', sans-serif !important;
}
button {
  font-family: 'Raleway', sans-serif !important;
}
div.domain-description {
  position: absolute;
    background-color: white;
    padding: 10px;
    width: 24%;
    border-radius: 6px;
    right: 10rem;
}
div.domain-preview {
  font-size: small;
}
span#domain-slug {
  font-weight: bold;
}
div.domain-description > span {
  font-size: 12px;
  color: #353535;
}
a.nav-item {
  font-size: 0.9375rem;
  line-height: 160%;
  letter-spacing: 0px;
  font-weight: 500;
  color: #1f1f1f;
  text-decoration: none;
  vertical-align: -webkit-baseline-middle;
}
input[type="text"], input[type="email"], input[type="password"] {
  width: calc(100% - 1.6rem);
}
.submit-container {
  display: flex;
  justify-content: center;
}