html {
  min-height: 100%;
}
footer {
  margin: 0rem;
  min-width: 100%;
}
body {
  min-height: 100%;
  font-family: 'Raleway', sans-serif !important;
}
button {
  font-family: 'Raleway', sans-serif !important;
}
div.domain-preview {
  font-size: small;
}
span#domain-slug {
  font-weight: bold;
}

a.nav-item {
  font-size: 0.9375rem;
  line-height: 160%;
  letter-spacing: 0px;
  font-weight: 500;
  color: #1f1f1f;
  text-decoration: none;
  vertical-align: -webkit-baseline-middle;
}
input[type="text"], input[type="email"], input[type="password"] {
  width: calc(100% - 1.6rem);
}
.submit-container {
  display: flex;
  justify-content: center;
}
.d-block {
  display: block !important;
}
.d-none {
  display: none !important;
}
input.valid {
  border-color: #aaffaa;
}
input {
  outline: none;
}
input.invalid {
  border-color: red;
}