<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alvaro - Desarrollo Web</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap" rel="stylesheet">
    {% load static %}

    <link rel="stylesheet" href="{% static 'main.css' %}">

    <script src="{% static 'main.js' %}"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fade-in">
        <a class="navbar-brand" href="#">Alvaro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#services">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portafolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="jumbotron text-center" class="section-animada">
        <div class="container">
            <h1>Alvaro - Desarrollo Web</h1>
            <p class="lead">Soy un desarrollador web Full-stack con 7 años de experiencia en el diseño y desarrollo de
                bases de datos, sistemas personalizados, API y páginas web. Especializado en php frameworks, Nodejs y
                Vuejs. ¡Trabajemos juntos!</p>
            <a href="#contact" class="btn btn-primary my-2">Contáctame</a>
        </div>
    </section>

    <section id="services" class="section-animada">
        <div class="container">
            <h2 class="text-center mb-4">Servicios</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Desarrollo de Páginas Web</h4>
                        </div>
                        <div class="card-body">
                            <p>Desarrollo de páginas web de alta calidad y con diseño moderno y atractivo. Utilizando
                                las mejores herramientas y tecnologías del mercado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Desarrollo de Sistemas Personalizados</h4>
                        </div>
                        <div class="card-body">
                            <p>Desarrollo de sistemas personalizados y a medida para empresas de cualquier tamaño y
                                sector. Adaptados a las necesidades específicas de cada cliente.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">Desarrollo deAPIs
                            </h4>
                        </div>
                        <div class="card-body">
                            <p>Desarrollo de APIs personalizadas para integrar diferentes sistemas y plataformas.
                                Optimización de procesos y
                                mejora de la eficiencia empresarial.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="section-animada">
        <div class="container">
            <h2 class="text-center mb-4">Portafolio</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Proyecto 1">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 1</h5>
                            <p class="card-text">Descripción del proyecto 1.</p>
                            <a href="#" class="btn btn-primary">Ver proyecto</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Proyecto 2">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 2</h5>
                            <p class="card-text">Descripción del proyecto 2.</p>
                            <a href="#" class="btn btn-primary">Ver proyecto</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Proyecto 3">
                        <div class="card-body">
                            <h5 class="card-title">Proyecto 3</h5>
                            <p class="card-text">Descripción del proyecto 3.</p>
                            <a href="#" class="btn btn-primary">Ver proyecto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="section-animada">
        <div class="container">
            <h2 class="text-center mb-4">Contacto</h2>
            <div class="row">
                <div class="col-md-6">
                    <form>
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" class="form-control" id="name" placeholder="Introduce tu nombre">
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico</label>
                            <input type="email" class="form-control" id="email"
                                placeholder="Introduce tu correo electrónico">
                        </div>
                        <div class="form-group">
                            <label for="message">Mensaje</label>
                            <textarea class="form-control" id="message" rows="5"
                                placeholder="Introduce tu mensaje"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <h4>Información de contacto</h4>
                    <p>Teléfono: 123-456-7890</p>
                    <p>Correo electrónico: contacto@alvaro.com.py</p>
                    <p>Dirección: 123 Calle Falsa, Ciudad Ficticia, Paraguay</p>
                    <h4>Sígueme en las redes sociales</h4>
                    <div class="social-links">
                        <a href="#" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
                        <a href="#" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="bg-dark text-light py-3 fade-in">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2023 Alvaro. Todos los derechos reservados.</p>
                </div>
                <div class="col-md-6">
                    <p class="text-right">Desarrollado por Alvaro</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" crossorigin="anonymous">
    </script>
</body>

</html>